In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv("band.csv")

In [ ]:
data.shape

(1280, 129)

In [ ]:
data.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,118,119,120,121,122,123,124,125,126,127
0,0,3.966387,3.362791,5.815234,1.216603,5.102688,3.944452,6.646149,1.261336,5.853005,...,4.504961,1.242910,6.766592,6.189954,7.055265,1.177492,5.434120,5.369596,6.286556,0.987916
1,1,5.171664,4.159797,6.395374,1.450174,7.009709,4.826470,7.266016,1.318514,7.645094,...,4.872352,1.462509,10.031310,7.715087,7.725304,1.253575,7.958460,6.850178,6.795912,1.152470
2,2,4.839268,4.294426,6.721424,1.541999,6.321618,5.004187,8.149888,1.660937,7.312348,...,5.661568,1.651851,9.238961,9.179372,9.283133,1.479029,6.864887,8.209320,8.429777,1.410791
3,3,4.442888,3.519818,5.380133,1.280744,6.709155,4.250171,6.090829,1.208452,7.652379,...,3.702323,0.804002,8.802466,6.922430,6.950315,1.132223,6.850906,6.541218,6.753938,1.026295
4,4,2.698928,2.770151,4.911636,1.076200,3.034321,2.933423,5.472712,1.120326,3.150251,...,4.464917,1.514359,3.678479,5.225959,6.270482,1.036078,3.681268,5.195625,6.161676,0.946582

In [ ]:
data.columns

Index(['Unnamed: 0', '0', '1', '2', '3', '4', '5', '6', '7', '8',
       ...
       '118', '119', '120', '121', '122', '123', '124', '125', '126', '127'],
      dtype='object', length=129)

In [ ]:
data = data.drop(labels ='Unnamed: 0', axis=1)

In [ ]:
data.shape

(1280, 128)

In [ ]:
data = np.array(data).reshape(1280,32,-1)

In [ ]:
gamma = data[:,:,3]

In [ ]:
gamma.shape

(1280, 32)

In [ ]:
VAL = pd.read_csv("VAL.csv")

In [ ]:
VAL.shape

(1280, 1)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(gamma, VAL)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(data, VAL)

In [ ]:
from tensorflow import keras
from tensorflow.keras import layers

In [ ]:
model = keras.Sequential([
      layers.BatchNormalization(),
      layers.Dense(1024, activation='relu', input_shape=[32]),
      layers.Dropout(0.3),
      layers.BatchNormalization(),
      layers.Dense(1024, activation='relu'),
      layers.Dropout(0.3),
      layers.BatchNormalization(),
      layers.Dense(1024, activation='relu'),
      layers.Dropout(0.3),
      layers.BatchNormalization(),
       layers.Dense(1024, activation='relu'),
       layers.Dropout(0.3),
      layers.BatchNormalization(),
        layers.Dense(1024, activation='relu'),
        layers.Dropout(0.3),
      layers.BatchNormalization(),
         layers.Dense(1024, activation='relu'),
         layers.Dropout(0.3),
      layers.BatchNormalization(),
      layers.Dense(512, activation='relu'),
      layers.Dropout(0.3),
      layers.BatchNormalization(),
      layers.Dense(512, activation='relu'),
      layers.Dropout(0.3),
      layers.BatchNormalization(),
      layers.Dense(10,activation='softmax'),
])

In [ ]:
model.compile(
    optimizer='adam',
    loss = 'sparse_categorical_crossentropy',
    metrics=["accuracy"]
)

In [ ]:
history = model.fit(
  X_train, y_train,
    validation_data = (X_test, y_test),
    batch_size = 256,
    epochs=30,
)

Epoch 1/30
4/4 [==============================] - 5s 403ms/step - loss: 3.0348 - accuracy: 0.1021 - val_loss: 2.3241 - val_accuracy: 0.1625
Epoch 2/30
4/4 [==============================] - 1s 254ms/step - loss: 2.8798 - accuracy: 0.1115 - val_loss: 2.3764 - val_accuracy: 0.1750
Epoch 3/30
4/4 [==============================] - 1s 266ms/step - loss: 2.8267 - accuracy: 0.1365 - val_loss: 2.4676 - val_accuracy: 0.1531
Epoch 4/30
4/4 [==============================] - 1s 273ms/step - loss: 2.7691 - accuracy: 0.1104 - val_loss: 2.4564 - val_accuracy: 0.1437
Epoch 5/30
4/4 [==============================] - 1s 361ms/step - loss: 2.7053 - accuracy: 0.1302 - val_loss: 2.4171 - val_accuracy: 0.1531
Epoch 6/30
4/4 [==============================] - 1s 280ms/step - loss: 2.6941 - accuracy: 0.1417 - val_loss: 2.5374 - val_accuracy: 0.1813
Epoch 7/30
4/4 [==============================] - 1s 284ms/step - loss: 2.6227 - accuracy: 0.1219 - val_loss: 2.6640 - val_accuracy: 0.1906
Epoch 8/30
4/4 [==============================] - 1s 255ms/step - loss: 2.5518 - accuracy: 0.1500 - val_loss: 2.3542 - val_accuracy: 0.1813
Epoch 9/30
4/4 [==============================] - 1s 257ms/step - loss: 2.5100 - accuracy: 0.1625 - val_loss: 2.4783 - val_accuracy: 0.1875
Epoch 10/30
4/4 [==============================] - 1s 284ms/step - loss: 2.4692 - accuracy: 0.1490 - val_loss: 2.7076 - val_accuracy: 0.1906
Epoch 11/30
4/4 [==============================] - 1s 254ms/step - loss: 2.4692 - accuracy: 0.1479 - val_loss: 2.6980 - val_accuracy: 0.2000
Epoch 12/30
4/4 [==============================] - 1s 259ms/step - loss: 2.4727 - accuracy: 0.1510 - val_loss: 2.9209 - val_accuracy: 0.1906
Epoch 13/30
4/4 [==============================] - 1s 288ms/step - loss: 2.4129 - accuracy: 0.1646 - val_loss: 3.0360 - val_accuracy: 0.1688
Epoch 14/30
4/4 [==============================] - 1s 258ms/step - loss: 2.3564 - accuracy: 0.1677 - val_loss: 2.6914 - val_accuracy: 0.1781
Epoch 15/30
4/4 [==============================] - 1s 258ms/step - loss: 2.3428 - accuracy: 0.1813 - val_loss: 2.6650 - val_accuracy: 0.1781
Epoch 16/30
4/4 [==============================] - 1s 263ms/step - loss: 2.3457 - accuracy: 0.1781 - val_loss: 2.7038 - val_accuracy: 0.1781
Epoch 17/30
4/4 [==============================] - 1s 255ms/step - loss: 2.3565 - accuracy: 0.1688 - val_loss: 2.6428 - val_accuracy: 0.2094
Epoch 18/30
4/4 [==============================] - 1s 250ms/step - loss: 2.3307 - accuracy: 0.1760 - val_loss: 2.6078 - val_accuracy: 0.2000
Epoch 19/30
4/4 [==============================] - 1s 251ms/step - loss: 2.2855 - accuracy: 0.1813 - val_loss: 2.5497 - val_accuracy: 0.1937
Epoch 20/30
4/4 [==============================] - 1s 254ms/step - loss: 2.2665 - accuracy: 0.1729 - val_loss: 2.5143 - val_accuracy: 0.1906
Epoch 21/30
4/4 [==============================] - 1s 258ms/step - loss: 2.2735 - accuracy: 0.2052 - val_loss: 2.4766 - val_accuracy: 0.1906
Epoch 22/30
4/4 [==============================] - 1s 251ms/step - loss: 2.2009 - accuracy: 0.2156 - val_loss: 2.4395 - val_accuracy: 0.1906
Epoch 23/30
4/4 [==============================] - 1s 262ms/step - loss: 2.2187 - accuracy: 0.2219 - val_loss: 2.4551 - val_accuracy: 0.2031
Epoch 24/30
4/4 [==============================] - 1s 256ms/step - loss: 2.2093 - accuracy: 0.1906 - val_loss: 2.3024 - val_accuracy: 0.1781
Epoch 25/30
4/4 [==============================] - 1s 256ms/step - loss: 2.2348 - accuracy: 0.1979 - val_loss: 2.3090 - val_accuracy: 0.1906
Epoch 26/30
4/4 [==============================] - 1s 282ms/step - loss: 2.1630 - accuracy: 0.2094 - val_loss: 2.3600 - val_accuracy: 0.1875
Epoch 27/30
4/4 [==============================] - 1s 283ms/step - loss: 2.1919 - accuracy: 0.2125 - val_loss: 2.3151 - val_accuracy: 0.1906
Epoch 28/30
4/4 [==============================] - 1s 284ms/step - loss: 2.1736 - accuracy: 0.2198 - val_loss: 2.3428 - val_accuracy: 0.1844
Epoch 29/30
4/4 [==============================] - 1s 258ms/step - loss: 2.1815 - accuracy: 0.2042 - val_loss: 2.3164 - val_accuracy: 0.2000
Epoch 30/30
4/4 [==============================] - 1s 258ms/step - loss: 2.1476 - accuracy: 0.2052 - val_loss: 2.2634 - val_accuracy: 0.1937

In [ ]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 batch_normalization (BatchN  (None, 32)               128
 ormalization)

 dense (Dense)               (None, 1024)              33792

 dropout (Dropout)           (None, 1024)              0

 batch_normalization_1 (Batc  (None, 1024)             4096
 hNormalization)

 dense_1 (Dense)             (None, 1024)              1049600

 dropout_1 (Dropout)         (None, 1024)              0

 batch_normalization_2 (Batc  (None, 1024)             4096
 hNormalization)

 dense_2 (Dense)             (None, 1024)              1049600

 dropout_2 (Dropout)         (None, 1024)              0

 batch_normalization_3 (Batc  (None, 1024)             4096
 hNormalization)

 dense_3 (Dense)             (None, 1024)              1049600

 dropout_3 (Dropout)         (None, 1024)              0

 batch_normalization_4 (Batc  (None, 1024)             4096
 hNormalization)

 dense_4 (Dense)             (None, 1024)              1049600

 dropout_4 (Dropout)         (None, 1024)              0

 batch_normalization_5 (Batc  (None, 1024)             4096
 hNormalization)

 dense_5 (Dense)             (None, 1024)              1049600

 dropout_5 (Dropout)         (None, 1024)              0

 batch_normalization_6 (Batc  (None, 1024)             4096
 hNormalization)

 dense_6 (Dense)             (None, 512)               524800

 dropout_6 (Dropout)         (None, 512)               0

 batch_normalization_7 (Batc  (None, 512)              2048
 hNormalization)

 dense_7 (Dense)             (None, 512)               262656

 dropout_7 (Dropout)         (None, 512)               0

 batch_normalization_8 (Batc  (None, 512)              2048
 hNormalization)

 dense_8 (Dense)             (None, 10)                5130

=================================================================
Total params: 6,103,178
Trainable params: 6,088,778
Non-trainable params: 14,400
_________________________________________________________________

In [ ]:
for i in range(100):
  print(np.argmax(model.predict(X_test)[i]), end=' ')

#np.argmax(model.predict(X_test)[0])

7 7 7 5 5 7 7 7 7 7 7 7 7 5 7 7 7 7 5 7 7 7 7 7 7 7 7 7 7 7 7

In [ ]:
y_test.head(100)

      0
986   5
860   3
714   5
834   5
904   5
...  ..
1124  6
176   7
1182  3
1018  8
173   7

[100 rows x 1 columns]